* {
	margin: 0px;
	padding: 0px;
}

.InputForm {
	padding: 15px;
	margin: 30px;
	border-style: groove;
	width: 50%;
	background-color: #b7b7b7;
}
.inputField {
	padding: 5px;
}

.submitBtn {
	background-color: #b7b7b7;
	font-family: "Georgia";
	box-shadow: 0.5px -0.5px 2px 1px;
}

.submitBtn:active {
	background-color: #b7b7b7;
	box-shadow: 0.5px -0.5px 4px 2px;
}

span {
	top: 10px;
	background-color: #d1d1d1;
	border-style: solid;
	border-width: 1px;
	padding-left: 5px;
	padding-right: 5px;
	font-family: "Courier New";
	color: white;
}

